services:
  backend:
    build: ./backend
    container_name: segarkosan-backend
    restart: always
    env_file:
      - ./backend/.env

  nginx:
    image: nginx:alpine
    container_name: segarkosan-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
# certbot:
#   image: certbot/certbot
#   volumes:
#     - ./certbot/www:/var/www/certbot
#     - ./certbot/conf:/etc/letsencrypt
