version: "3.8"

services:
  backend:
    build: .
    container_name: segarkosan-backend
    restart: always
    env_file:
      - .env
    expose:
      - "5000"

  nginx:
    image: nginx:alpine
    container_name: segarkosan-nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
# certbot:
#   image: certbot/certbot
#   volumes:
#     - ./certbot/www:/var/www/certbot
#     - ./certbot/conf:/etc/letsencrypt
