version: "3.9"

services:
  backend:
    build: .
    container_name: segarkosan-backend
    expose:
      - "5000"
    networks:
      - infra_net
    restart: always

  nginx:
    image: nginx:alpine
    container_name: main-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - backend
    networks:
      - infra_net
    restart: always

networks:
  infra_net:
    external: true
